    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">Search Results</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Search Results</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            
            <div class='col-xs-12 col-sm-offset-2'>
               <ul class="media-list">
                <li class="media" ng-repeat="result in results | filter:filtText">
                    <div class="media-left media-middle">
                        <a ui-sref="app.dishdetails({id: result._id})">
                        <img class="media-object img-thumbnail" height="120" width="100"
                        ng-src={{result.image}} alt="Image Not Found">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{result.name}}
                        <span class="label label-danger label-xs">{{result.label}}</span>
                        <span class="badge">{{result.price/100 | currency}} at {{result.bestPriceAt}}</span></h2>
                        <p ng-show="showDetails">Unit: {{result.unit}}</p>
                        <p ng-show="showDetails">Available: {{result.available}}</p>
                         <button  ng-click="openAddToList(result._id)" class="btn btn-sm btn-success"
                    type="button" > Add to List
                        </button>
                    </div>
                </li>
            </ul>                
            
            </div>
        </div>
     </div>

